body{
    background-color: rgb(143, 44, 44);
}

#info{
    background:  rgb(-0,-0,-0,- 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(0,-0,-0, -0.568);
    color: white;
}

.ingresar{
    background: #222A3F;
    padding: 15px;
    font-size: 15px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgb(0,0,0, 0.568);
}


#listaContactos{    
    border: black 1px solid;
    background-color: rgb(31, 27, 27);
    padding: 2em;
    
    
}

h2{
    color:  white;
}

.card{
    background-color: rgb(168, 168, 168);
    margin-left: auto;
    margin-right: auto;
}

h5{
    color: rgb(4, 4, 5);
}

